# Puertos alternativos (rama deploy o copiar a .env)
FRONT_HOST_PORT=9082

VITE_API_VENTAS_URL=
VITE_API_DESPACHOS_URL=

VENTAS_UPSTREAM=http://host.docker.internal:9080
DESPACHOS_UPSTREAM=http://host.docker.internal:9081
